<div class="card border-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de clientes</h5>
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']" >Crear cliente</button>
        </div>
        @if(clientes !== null && clientes.length > 0){
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>email</th>
                    <th>fecha</th>
                    <th>editar</th>
                    <th>eliminar</th>
                </tr>
            </thead>
            <tbody>
                @for(c of clientes; track c){
                <tr>
                    <td>{{c.id}}</td>
                    <td>{{c.nombre}}</td>
                    <td>{{c.apellido}}</td>
                    <td>{{c.email}}</td>
                    <td>{{c.createAt}}</td>
                    <td>
                        <button type="button" name="editar" [routerLink]="['/clientes/form', c.id]" class="btn btn-primary btn-sm">editar</button>
                    </td>
                    <td>
                        <button type="button" name="eliminar" (click)="delete(c)" class="btn btn-danger btn-sm">eliminar</button>
                    </td>
                </tr>}
            </tbody>
        </table>}@else{
            <div class="alert alert-info">No hay registros en la BBDD</div>
        }
        
    </div>
</div>